@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sample ASP.NET MVC Project</h1>
    <p>by Panayotis Trapatsas</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Airfoil Search Engine</h2>
        <p>
            Please visit our search engine and create your own airfoil!
        </p>
        <p><a class="btn btn-default" href="/Airfoils/">Learn more &raquo;</a></p>
    </div>
</div>